@model IEnumerable<YKPatients.Models.PatientDiagnosis>

@{
    
    ViewData["Title"] = $"List of Diagnosis";
}

<h1>@ViewData["title"]</h1>

<p>
    <a asp-action="Create">Create New Diagnosis</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-controller="YKPatientTreatment"
                   asp-route-patientDiagnosisId="@item.PatientDiagnosisId "
                   asp-route-patientId="@item.PatientId"
                   asp-route-diagnosisName="@item.Diagnosis.Name"
                   asp-route-LastName="@item.Patient.LastName"
                   asp-route-FirstName="@item.Patient.FirstName"
                   >
                    @Html.DisplayFor(modelItem => item.Diagnosis.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.LastName), 
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientDiagnosisId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientDiagnosisId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientDiagnosisId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
