@model IEnumerable<YKPatients.Models.Patient>

@{
    ViewData["Title"] = "List of Patient";
}

<h1>@ViewData["title"]</h1>

<p>
    <a asp-action="Create">Create New Patient</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Patient Name
                @*@Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ohip)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Deceased)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePhone)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinceCodeNavigation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName),
                @Html.DisplayFor(modelItem => item.FirstName)

                @*<a asp-controller="YKPatientDiagnosis"
               asp-route-patientId="@item.PatientId">
                @Html.DisplayFor(modelItem => item.FirstName)
            </a>
        </td>
        <td>
            <a asp-controller="YKPatientDiagnosis"
               asp-route-patientId="@item.PatientId">
                @Html.DisplayFor(modelItem => item.LastName)
            </a>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ohip)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Deceased)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceCodeNavigation.ProvinceCode)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
