@model IEnumerable<YKPatients.Models.MedicationType>

@{
    ViewData["Title"] = "Medication Types on File";
}

<h1>Medication Types on File</h1>

<p>
    <a asp-action="Create">Create New Medication Type</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicationTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationTypeId)
            </td>
            <td>
                <a asp-controller="YKMedications" 
                   asp-route-medicationTypeId="@item.MedicationTypeId"
                   asp-route-medicationTypeName="@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicationTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicationTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicationTypeId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
