@model YKPatients.Models.Medication
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Details for Medication for '" + Context.Session.GetString("medicationTypeName")+"'";
}

<h1>@ViewData["title"]</h1>

<div>
    <h4>Medication '@Html.DisplayFor(model => model.Name)'</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Din)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Din)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Concentration)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ConcentrationCodeNavigation)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ConcentrationCodeNavigation.ConcentrationCode)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DispensingCodeNavigation)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DispensingCodeNavigation.DispensingCode)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.MedicationType)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MedicationType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Din">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
