@model IEnumerable<YKPatients.Models.Medication>
@using Microsoft.AspNetCore.Http    

@{
    ViewData["Title"] = "Medication for '" + Context.Session.GetString("medicationTypeName") + "'";
}

    <h1>
        @ViewData["title"]
    </h1>

<p>
    <a asp-action="Create">Create a New Medication for '@Context.Session.GetString("medicationTypeName")' Type</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concentration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcentrationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DispensingCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concentration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcentrationCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DispensingCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicationType.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Din">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Din">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Din">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
